<footer id="footer">
    <ul class="contacts">
        <li><a class="contacts__link" href="https://www.linkedin.com/in/gustavomotamacedo/">Linkedin</a></li>
        <li><a class="contacts__link" href="https://www.instagram.com/gusmaced0">Instagram</a></li>
        <li><a class="contacts__link" href="https://github.com/gustavomotamacedo">Github</a></li>
        <li><a class="contacts__link" href="">Plataforma Lattes</a></li>
        <li><a class="contacts__link" href="mailto:mota.macedo05@gmail.com">{{email}}</a></li>
        <li><a class="contacts__link" href="https://wa.me/73998061168">(73) 99806-1168</a></li>
    </ul>
</footer>