.skills {
    width: 100%;
    height: 100vh;

    &__title {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
    }

    &__list {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 1rem;
    }
}