<section class="skills">
    <h1 id="conhecimentos" class="skills__title">Conhecimentos</h1>
    <section class="skills__list">
            <app-skill-card
                skillTitle="Ferramentas de desenvolvimento"
                [skillList]="[
                    'Android Studio',
                    'Docker',
                    'Excel',
                    'Visual Studio Code'
                ]" />
            <app-skill-card
                skillTitle="Cloud e DevOps"
                [skillList]="[
                    'Google Firebase',
                    'Docker'
                ]" />
            <app-skill-card
                skillTitle="Linguagens de programação"
                [skillList]="[
                    'Java',
                    'Javascript',
                    'Python',
                    'SQL'
                ]" />
            <app-skill-card
                skillTitle="API's e integrações"
                [skillList]="[
                    'REST API',
                    'Padrões de projeto'
                ]" />
            <app-skill-card
                skillTitle="Frontend"
                [skillList]="[
                    'Angular Framework',
                    'Sass',
                ]" />
            <app-skill-card
                skillTitle="Habilidades complementares"
                [skillList]="[
                    'Espanhol',
                    'Inglês',
                    'Mandarim',
                    'Metodologias Ágeis',
                    'Scrum'
                ]" />
            <app-skill-card
                skillTitle="Backend"
                [skillList]="[
                    'Spring Framework',
                    'NodeJs'
                ]" />
            <app-skill-card
                skillTitle="Bancos de dados"
                [skillList]="[
                    'SQL',
                    'SQLite',
                    'My SQL',
                    'SQL Server',
                    'NoSQL'
                ]" />
    </section>
</section>