.skills {
    width: 100%;
    min-height: calc(100vh - 5rem);

    &__title {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
    }

    &__list {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: start;
        justify-content: center;
        column-gap: 3rem;
        row-gap: 1rem;
    }
}