<nav class="nav-bar">
    <img src="assets/svg/burger-menu.svg" (click)="toggleMenu()" class="nav-bar__burguer" width="48px" alt="">
    <li class="nav-bar__links" [style]="isMenuOpen ? 'left: 0' : 'left: -100%'" (click)="toggleMenu()">
        <ul><a href="#conhecimentos">Conhecimentos</a></ul>
        <ul><a href="#experiencia">Experiência</a></ul>
        <ul><a href="">Educação</a></ul>
        <ul><a href="">Projetos</a></ul>
        <ul><a href="">Contato</a></ul>
    </li>
    <img src="assets/images/minha-logo-128.png" alt="Logo de uma pessoa com cabelo cacheado e óculos de sol">
</nav>